<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1" parallel="methods" thread-count="3">

    <test name="Regression1"  parallel="true">
       <!-- test {
            systemProperty("testng.jupiter.execution.parallel.enabled", true) systemProperty("testng.jupiter.execution.parallel.mode.default", "CONCURRENT")
        }-->

       
        <classes>
            <class name="HelloAppium.TestRunnerForEarnApp"/>
        </classes>
    </test>
</suite>
